APScheduler==3.11.2
certifi==2026.1.4
charset-normalizer==3.4.4
dnspython==2.8.0
fcache==0.6.0
idna==3.11
importlib_metadata==8.7.1
launchdarkly-eventsource==1.5.0
mmh3==5.2.0
mongo==0.2.0
platformdirs==3.11.0
pymongo==4.16.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
requests==2.32.5
semver==3.0.4
six==1.17.0
tzlocal==5.3.1
UnleashClient==6.4.1
urllib3==2.6.3
yggdrasil-engine==1.0.0
zipp==3.23.0
